﻿<%@ Control Language="vb" AutoEventWireup="true" CodeFile="cuMensajeBox.ascx.vb" Inherits="cuMensajeBox" %>
<asp:Literal ID="ltJs" runat="server"></asp:Literal>
<asp:LinkButton ID="lnkMensajeNormal" Text="" runat="server"></asp:LinkButton>
<aspAjax:ModalPopupExtender ID="mpeMensajeNormal" runat="server"
    TargetControlID="lnkMensajeNormal"
    PopupControlID="divPopupMensajeNormal"
    BackgroundCssClass="modalBackground"
    OkControlID="btnAceptarMensajeNormal" />

<div class="container-fluir">
    <div class="block">
        <div id="divPopupMensajeNormal" class="conZindex501" style="display: none; background-color: while; padding: 5px !important;">
            <div class="cuadro02 conPadding05">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">
                        <span class="navbar-brand mb-0 h1">CASINO DE ASUNCION</span>
                    </div>
                </div>
                <div class="block-content collapse in">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <div style="margin: 10px 10px 10px 10px;">
                                <p>
                                    <asp:Label ID="lblMensajeNormal" CssClass="mensajes03" runat="server" Text="NO SE POR QUE PUTA NO FUNCIONA"></asp:Label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="conPaddingTop05 conPaddingBottom05" style="text-align: center;">
                            <asp:Button ID="btnAceptarMensajeNormal" runat="server" Text="Aceptar" CssClass="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


