﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MpPrincipal.master" AutoEventWireup="false" CodeFile="Defaultggggg.aspx.vb" Inherits="Operacion_Defaultggggg" %>

<%@ Register src="../control/cuMensajeBox.ascx" tagname="cuMensajeBox" tagprefix="uc1" %>
<%@ Register src="../control/wucReporte.ascx" tagname="wucReporte" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <p>
        <br />
    </p>
    <uc2:wucReporte ID="wucReporte1" runat="server" />
    <uc1:cuMensajeBox ID="cuMensajeBox1" runat="server" />
    <p>
    </p>
</asp:Content>

