/*GridViewCSS White Chrome Style*/
.GridViewStyle
{
    font-family: Courier New, Sans-Serif;
    font-size: 10px;
    table-layout: auto;
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
    margin: 0px !important;
    background-COLOR: #FFFFFF;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    /* background-image: url(Images/HeaderWhiteChrome.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color: #FFFFFF;*/
	border:solid 1px #FFFFFF;  
}
.HeaderStyle th
{
    padding: 5px;
    border: solid 1px #CCCCCC;
    background-color: #465c71;
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.HeaderStyle th a
{
    color:white;
}



.HeaderStyle td
{
    padding: 5px;
    border: solid 1px #CCCCCC;
    background-color: #EFEFEF;
    text-align: center;
    font-weight: bold;
}



.PagerStyle table
{
    text-align:center;
    margin: 0px !important;
}

.PagerStyle table td
{
  border-style: none;
  padding-top: 4px;
   padding-bottom: 4px;
}

.PagerStyle a
{
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border:solid 1px #CCCCCC;
}

.PagerStyle td
{
    border:solid 1px #CCCCCC;
}


.PagerStyle table td span
{
    font-weight:bold;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    color: black;
}

/*RowStyles*/
.GridViewStyle tr
{
  border: solid 1px #FFFFFF;    
}
.AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    background-color:azure;
}

.RowStyle td
{
    border: solid 1px #CCCCCC;
    padding: 5px;
}




.GridViewStyle02
{
    font-family: Courier New, Arial, Sans-Serif;
    font-size: 12px;
    table-layout: auto;
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
    margin: 0px !important;
    background-COLOR: #FFFFFF;
}
.HeaderStyle02
{
	border:solid 1px #FFFFFF;  
}
.HeaderStyle02 th
{
    padding: 5px;
    border: solid 1px #CCCCCC;
    background-color: #EFEFEF;
    text-align: center;
    vertical-align: middle;
}
.HeaderStyle02 td
{
    padding: 5px;
    border: solid 1px #CCCCCC;
    background-color: #EFEFEF;
    text-align: center;
    font-weight: bold;
}


.GridViewStyle02 tr
{
  border: solid 1px #FFFFFF;    
}


.RowStyle02 td
{
    border: solid 1px #CCCCCC;
    padding: 5px;
}

.AlternatingRowStyle {
  transition: background-color .25s ease;
}

.AlternatingRowStyle:hover
{
    background-color: #FFCC99;

}

.FooterStyle
{ 
    /*background-color: #465c71 !important;
    color: white;*/
    padding: 5px;
    border: solid 1px #CCCCCC;
    background-color: #465c71;
    color: white;
    font-size: 12px;
    text-align: center;
} 