﻿/*div.hideSkiplink
{
    width: 100%;
    padding-left: 10px;
}*/

div.menu
{
    padding: 0px 0px 0px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

/*fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}*/

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: 542px;
    color: #000080;
}
.subtitle
{
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    color: #000080;
    margin: 1px 8px 8px 8px;
    left: 10%;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #000080;
}

.loginDisplay a:link
{
    color: #000080;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: #FF0000;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* Reset.css */
/** {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}*/ 
/* End Reset.css */
.arthro
{
    display: block;
    margin: 3em;
    border: 1px solid #999;
    background-color: #0066FF;
}
.ribbon
{
    background-color: #465c71;
    -moz-border-radius: 0 1em 1em 0;
    border: 1px solid #033;
    padding: .1em 1em .3em 2em;
    margin: 2px 1em 0 1px;
    /*-webkit-box-shadow: 2px 1px 2px #066;*/
    text-align: center;
}
.ribbon span {
    font-weight:bold;
    font-size:1.2em;
    color:#eee;
    
}

.triangle
{
    border-style: solid;
    border-color: #FFFFFF #FFFFFF transparent transparent;
    border-width: .25em .5em .25em .5em;
    width: 1em;
    height: .5em;
    margin-left: -1em;
}

.rfv
{
    padding-left: 10px;
    color: #FF0000;
    font-size: x-small;
    font-family: Verdana, Tahoma, Arial;
    font-weight: lighter;
}

/*div.login
{
    width: auto;
    height: auto;
    margin:5% 20% 0% 20%;
}*/

/*div.imagen
{
    width: 100px;
    height: 100px;
}*/

/*Calendario*/

.TitleStyle
{
	background-color: #41519A;
	color: White;
}

.DayHeaderStyle
{
	font-weight: bold;
	background-color: #B2C3E1;
}

.TodayDayStyle
{
	background-color: #B2C3E1;
	color: Black;
}

.SelectedDayStyle
{
	background-color: #41519A;
	font-weight: bold;
	color: White;
}

.WeekendDayStyle
{
	background-color: #99ACDD;
}

.SelectorStyle
{
	background-color: #41519A;
}

.NextPrevStyle
{
	vertical-align: bottom;
	font-weight:bold;
	Color: White;
}
.HeaderTemplate
{
	background-color: #009999;
	color: White;
}


.MyCalendar .ajax__calendar_container
{
    position: relative; /*left: 0px !important; */ /*top: 0px !important;*/
    visibility: visible;
    display: block;
    border: 1px solid #646464;
    background-color: #C0C0C0;
    color: #0066CC;
    z-index: 100;
}



.MyCalendar .ajax__calendar iframe 
{
    left: 0px !important;
    top: 0px !important;
    z-index:50;
} 

/* -------------------------------------- css de menu master */
div.BarraMenu
{
    height: 1px;
    background-image: none;
    background-color: transparent;
    padding-left: 8px;
    position: absolute;
    z-index: auto;
}                                   
    
.TopGroup
{
  background-color:#D9D9E6; 
  border:solid 1px #465c71; 
  cursor:default; 
}

.MenuGroup
{
    /* background-image: url(images/group_background.gif);*/
    background-color: #465c71;
    border: solid 1px #7E7E81;
    cursor: default;
}

.TopMenuItem  /*Fondo menu stand by*/
{
    background-color: #465c71;
    color: white;
    font-family: tahoma;
    font-size: 12px;
    cursor: default;
    border-bottom: steelblue 1px solid;
    border-left: steelblue 1px solid;
    border-top: steelblue 1px solid;
    border-right: steelblue 1px solid;
}

.TopMenuItemHover
{
    /* background-image: url(images/top_group_background.gif);*/
    background-color: #000080;
    color: white;
    font-family: tahoma;
    font-size: 12px;
    border: solid 1px #7C7C94;
    border-bottom-color: #BAB9CD;
    cursor: default;
}

.MenuItem
{
    color: white;
    font-family: tahoma;
    font-size: 12px;
    margin: 1px;
    cursor: default;
}

.MenuItemHover
{
    background-color: #003399;
    color: white;
    font-family: tahoma;
    font-size: 12px;
    border: solid 1px #4B4B6F;
    cursor: default;
}

.MenuBreak
{
  background-image:url(images/break_bg.gif);
  width:100%;
  height:1px;
}

/*.TemplatedItem
{
}*/

/* Css para centrar barraprogress */
.centerbox
{
    position:fixed;
    
    top:-27800%;
    left:27%;
    margin-top:-40px;
    margin-left:-125px;
    border:5px solid lightsteelblue;
    background-color:White;
    color: #000000;
    height:110px;
    width:250px;
    text-align:center;
    padding-top:20px;
    font-family:Verdana;
} 

.trans
{
  color: #000000;
  height:100%;
  width:100%;
}

.modalBackground
{
   z-index: 500 !important;    
    background-color: #005892;
    overflow: scroll;
    /*-moz-opacity: 0.60;*/
    filter: alpha(opacity=60);
    opacity: 0.6;
  
}

.conZindex501
{
  z-index : 501 !important;    
    
}


.cargando01 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 24px;
    margin-top: -12px;
    width: 24px;
    margin-left: -12px;
    z-index: 999;
}

.cargando01  img
{
    vertical-align: middle;
}


.botonPopup01
{
    color: white !important;
    background-color: #5973A8 !important;
    font-family: Arial, Verdana !important;
    font-size: 12px !important;
    width: 120px !important;
    font-weight: bold;
    border: solid 1px;
    border-color: #29447E #29447E #29447E #29447E;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    /*cursor: hand;*/   
}

.cuadroPopup01
{
  border: solid 1px  #CCCCCC !important;
  background-color: White !important;
  color: Black;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}

.cuadroPopup02
{
    border: solid 2px #657CAE; 
  background-color: White !important;
  padding: 10px;
  text-align: left;
}


.mensajes01
{
    background-position: left;
    background-repeat: no-repeat;
    background-image: url("../Imagen/estandar/mensaje01.png");
    font-size: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    font-weight: bold;
}

 .mensajes02
 {	
    background-position: left;
    background-repeat: no-repeat;
    background-image: url("../Imagen/estandar/mensaje01.png");
    font-size: 10px; 
    color: white;    
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    font-weight: bold;   
 }
 
 .mensajes03
{
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../Imagen/estandar/alerta01.gif');
    font-size: 14px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    font-weight: bold;
}
 
 
 .cuadro01
{
  border: solid 1px  #CCCCCC !important;
  background-color: White !important;
  font-size: 12px;
  color: Black;
}

.cuadro02
{
    border: solid #5973A8 1px;
    background-color: #CCFFCC;
}

.cuadroTitulo02
{
    padding: 2px 2px 2px 4px;
    background-color: #E3E8F4;
    font-family: Arial, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000080;
    border-bottom: solid 1px #5973A8;
}

.cuadro03
{
  overflow: hidden;
  border: solid 1px  #CCCCCC;
  background-color: White;
  min-height: 22px;
  /*border-radius: 5px;*/    
}

.cuadro04
{
	border: solid #CCCCCC 1px;
	background-color: white;
}

.cuadroTitulo04
{ 
   padding: 4px;
   border-bottom: solid 1px #CCCCCC;
   background-color: #D8F6CE;
}

 
 
 /*.conPadding00
{
  padding: 0px !important;    
}

.conPadding05
{
  padding: 5px!important;    
}

.conPadding10
{
  padding: 10px !important;    
}

.conPaddingTop05
{
  padding-top: 5px !important;    
}

.conPaddingBottom05
{
   padding-bottom: 5px !important;    
}

.conPaddingTop10
{
  padding-top: 10px !important;    
}

.conPaddingBottom10
{
   padding-bottom: 10px !important;    
}

.conPaddingLeft10
{
   padding-left: 10px !important;      
}

.conPaddingRight10
{
  padding-right: 10px !important;    
}

.conPaddingLeft05
{
   padding-left: 5px !important;       
}

.conPaddingRight05
{
  padding-right: 5px !important;    
}

.conMargin00
{
  margin: 0px !important;    
}

.conMargin05
{
  margin: 5px !important;    
}

.conMargin10
{
  margin: 10px !important;    
}

.conMarginBottom05
{
  margin-bottom: 5px !important;     
}

.conMarginBottom10
{
  margin-bottom: 10px !important;     
}

.conMarginTop05
{
  margin-top: 5px !important;     
}

.conMarginTop10
{
  margin-top: 10px !important;     
}

.conMarginLeft05
{
  margin-left: 5px !important;     
}

.conMarginLeft10
{
  margin-left: 10px !important;     
}

.conMarginRight05
{
  margin-right: 5px !important;     
}

.conMarginRight10
{
  margin-right: 10px !important;     
}

.conWidth60
{
     width: 60px !important;    
}

.conWidt

.conWidth80 {
    width: 80px !important;
}

.conWidth100  {
    width: 100px !important;
}


.conWidth120
{
     width: 120px !important;    
}


.conWidth140
{
     width: 140px !important;    
}





.conWidth200
{
     width: 200px !important;    
}

.conWidth300
{
     width: 300px !important;    
}

.conWidth400
{
     width: 400px !important;    
}

.conWidth500
{
     width: 500px !important;    
}

.conWidth550
{
     width: 550px !important;    
}

.conWidth560
{
     width: 560px !important;    
}

.conWidth580
{
     width: 580px !important;    
}

.conWidth600
{
     width: 600px !important;    
}

.conWidth700
{
     width: 700px !important;    
}

.conWidth800
{
     width: 800px !important;    
}

.conWidth900
{
     width: 900px !important;    
}

.conWidth1000
{
     width: 1000px !important;    
}

.conHeight100
{
   height: 100px !important;    
}

.conHeight200
{
     height: 200px !important;    
}

.conHeight300
{
     height: 300px !important;    
}

.conHeight400
{
     height: 400px !important;    
}

.conHeight500
{
     height: 500px !important;    
}

.conHeight600
{
     height: 600px !important;    
}


.conMinHeight500
{
   min-height: 500px !important;  
}*/

.botonPagina
{
   height: 14px !important;
   padding: 0px;
   width: 14px;
}
.boton {
    color: white !important;
    background-color: #465c71 !important;
    font-family: Arial, Verdana !important;
    font-size: 12px !important;
    font-weight: bold;
    border: 1px solid #29447E;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    /*cursor: hand;*/
}
.textBoxPagina
{
   padding: 0px !important;
   font-size: 12px !important;
   width: 25px !important;
   border: 1px solid #5973A8 !important;
}


/*.fieldSet01
{
   border: solid 1px #CCCCCC;    
   padding: 0px;
}*/


.clstBuscadorCssClass01
{
    text-align: left;
    visibility: visible;
    cursor: default;
    list-style: none outside none;
    /*padding: 0px;*/
    border: 1px solid buttonshadow;
    background-color: window;
    color: windowtext;
    position: absolute;
    /*width: 304px !important;*/
    left: 8px;
    z-index: 1000;
}

.liBuscadorTextoH01
{
    background-color: #657CAE; 
    color: white;
    padding: 2px 4px 2px 2px;  
    font-size: 12px; 
    font-weight: bold; 
    vertical-align: middle; 
    text-align: left; 
    z-index: 1001; 
    text-overflow: ellipsis;   
}

.liBuscadorTextoH01
{
    background-color: #657CAE; 
    color: white;
    padding: 2px 4px 2px 2px;  
    font-size: 12px; 
    font-weight: bold; 
    vertical-align: middle; 
    text-align: left; 
    z-index: 1001; 
    text-overflow: ellipsis;   
}
        
        .liBuscadorTexto01
{
    padding: 2px 4px 2px 2px; font-size: 12px; font-weight: bold; color: #657CAE; 
    vertical-align: middle; text-align: left; z-index: 1001; 
    text-overflow: ellipsis;
}

.tableRepeater
{
    width: 100%;
    color: #800000;
}

.tableRepeater2
{
    width: 95%;
    margin-left: 5%;
    background-color: #C0C0C0;
}

.tableRepeater3
{
    background-color: #FFFFFF;
    width: 100%;
}
.tableRepeater3 FooterTemplate
{
    background-color: #FFFFFF;
}


 /* Cuadro de Busqueda
----------------------------------------------------------*/
.tablaBusqueda
{
    vertical-align: top;
    width: 100%;
    text-align: left;
}




.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

/*GridViewCSS White Chrome Style*/
.GridViewStyle {
    font-family: Courier New, Sans-Serif;
    font-size: 10px;
    table-layout: auto;
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
    margin: 0px !important;
    background-COLOR: #FFFFFF;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/ {
    /* background-image: url(Images/HeaderWhiteChrome.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color: #FFFFFF;*/
    border: solid 1px #FFFFFF;
}

    .HeaderStyle th {
        padding: 5px;
        border: solid 1px #CCCCCC;
        background-color: #465c71;
        color: white;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }

        .HeaderStyle th a {
            color: white;
        }



    .HeaderStyle td {
        padding: 5px;
        border: solid 1px #CCCCCC;
        background-color: #EFEFEF;
        text-align: center;
        font-weight: bold;
    }



    .PagerStyle table {
        text-align: center;
        margin: 0px !important;
    }

        .PagerStyle table td {
            border-style: none;
            padding-top: 4px;
            padding-bottom: 4px;
        }

    .PagerStyle a {
        color: #333;
        text-decoration: none;
        padding: 2px 10px 2px 10px;
        border: solid 1px #CCCCCC;
    }

    .PagerStyle td {
        border: solid 1px #CCCCCC;
    }


    .PagerStyle table td span {
        font-weight: bold;
        text-decoration: none;
        padding: 2px 10px 2px 10px;
        background-color: #EFEFEF;
        border: 1px solid #CCCCCC;
        color: black;
    }

/*RowStyles*/
.GridViewStyle tr {
    border: solid 1px #FFFFFF;
}

.AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/ {
    padding: 5px;
    background-color: azure;
}

.RowStyle td {
    border: solid 1px #CCCCCC;
    padding: 5px;
}




.GridViewStyle02 {
    font-family: Courier New, Arial, Sans-Serif;
    font-size: 12px;
    table-layout: auto;
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
    /*margin: 0px !important;*/
    background-COLOR: #FFFFFF;
}

.HeaderStyle02 {
    border: solid 1px #FFFFFF;
}

    .HeaderStyle02 th {
        padding: 5px;
        border: solid 1px #CCCCCC;
        background-color: #EFEFEF;
        text-align: center;
        vertical-align: middle;
    }

    .HeaderStyle02 td {
        padding: 5px;
        border: solid 1px #CCCCCC;
        background-color: #EFEFEF;
        text-align: center;
        font-weight: bold;
    }


.GridViewStyle02 tr {
    border: solid 1px #FFFFFF;
}


.RowStyle02 td {
    border: solid 1px #CCCCCC;
    padding: 5px;
}

.AlternatingRowStyle {
    transition: background-color .25s ease;
}

    .AlternatingRowStyle:hover {
        background-color: #FFCC99;
    }

.FooterStyle {
    /*background-color: #465c71 !important;
    color: white;*/
    padding: 5px;
    border: solid 1px #CCCCCC;
    background-color: #465c71;
    color: white;
    font-size: 12px;
    text-align: center;
} 