﻿.TopGroup
{
  background-color:#D9D9E6; 
  border:solid 1px steelblue; 
  cursor:default; 
}

.MenuGroup
{
   /* background-image: url(images/group_background.gif);*/
    background-color: steelblue;
    border: solid 1px #7E7E81;
    cursor: default;
}

.TopMenuItem
{
    background-color: steelblue;
    color: white;
    font-family: tahoma;
    font-size: 12px;
    cursor: default;
    border-bottom: steelblue 1px solid;
    border-left: steelblue 1px solid;
    border-top: steelblue 1px solid;
    border-right: steelblue 1px solid;
}

.TopMenuItemHover
{
   /* background-image: url(images/top_group_background.gif);*/
    background-color: steelblue;
    color: white;
    font-family: tahoma;
    font-size: 12px;
    border: solid 1px #7C7C94;
    border-bottom-color: #BAB9CD;
    cursor: default;
}

.MenuItem
{
    color: white;
    font-family: tahoma;
    font-size: 12px;
    margin: 1px;
    cursor: default;
}

.MenuItemHover
{
    background-color: dodgerblue;
    color: white;
    font-family: tahoma;
    font-size: 12px;
    border: solid 1px #4B4B6F;
    cursor: default;
}

.MenuBreak
{
  background-image:url(images/break_bg.gif);
  width:100%;
  height:1px;
}

.TemplatedItem
{
}
