﻿.toast
{
    float: inherit;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 5%;
    margin-left: 60%;
    position: fixed;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    font-size: 14px;
    word-break: break-all;
    background-color:#808080;
    padding: 10px 25px;
    color:white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    z-index:1000000000;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;

  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  
  }
}
