﻿

<%@ Page Title="Página principal" Language="vb" MasterPageFile="~/MpPrincipal.master" Culture="Auto" UICulture ="Auto" AutoEventWireup="false"
    CodeFile="ErrorPagina.aspx.vb" Inherits="ErrorPagina" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <div id="Cuerpo" 
        style="width:80%; height:80%; margin:10% 10% 10% 10%; color: #FF0000; text-align: center;"
        ;>
        <asp:Label ID="lblMensaje" runat="server" 
            Text="NO POSEE PERMISO PARA VER ESTA PAGINA MMMMMMMMMMMMMM" 
            Font-Size="XX-Large"></asp:Label> <br /> <br />


        <asp:Image ID="Image1" runat="server" 
            ImageUrl="~/App_Themes/css/Img/AQUA ICONS SYSTEM ALERT STOP.png" />
    </div> 
</asp:Content>