﻿<%@ Page Language="VB" MasterPageFile="~/MpPrincipal.Master" Culture="Auto" UICulture ="Auto" AutoEventWireup="false" Inherits="reportes" title="Reportes" Codefile="reportes.aspx.vb" %>

<%--<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>--%>
<%--<%@ Register src="~/control/cuMensajeBox.ascx" tagname="cuMensajeBox" tagprefix="uc1" %>--%>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <table class="style1">
        <tr>
            <td>
        <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true"
            PrintMode="ActiveX" ToolPanelView="None" EnableDatabaseLogonPrompt="False" EnableParameterPrompt="False" Height="50px" Width="350px" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    <br />
    
        <asp:Label ID="lblError" runat="server" CssClass="labelTitulo" Width="315px"></asp:Label>
</asp:Content>

<asp:Content ID="Content3" runat="server" contentplaceholderid="HeadContent">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        </style>
</asp:Content>


